<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender pour le fichier de log -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/user-trace.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- Appender pour la console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger spécifique pour les traces de com.hai913i -->
    <logger name="com.hai913i.UserProfilingBackendApplication" level="TRACE" additivity="false">
        <appender-ref ref="JSON_FILE"/>
    </logger>

    <!-- Configuration du logger racine pour les erreurs -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>

